In [7]:
#設定環境變數
import psycopg2
import os
from dotenv import load_dotenv
load_dotenv()

with psycopg2.connect(os.environ['POSTGRE_PASSWORD2']) as conn:
    with conn.cursor() as cursor:
        #建立資料表
        sql = '''
            CREATE TABLE IF NOT EXISTS 站點資訊(
	            站點編號 VARCHAR(10),
	            站點名稱 VARCHAR(30) NOT NULL,
	            行政區 VARCHAR(10) NOT NULL,
	            站點地址 VARCHAR(50),
	            lat NUMERIC(15,11),
	            lng NUMERIC(15,11),
	            PRIMARY KEY(站點編號)
            );

            CREATE TABLE IF NOT EXISTS youbike(
	            日期 TIMESTAMP,
	            編號 VARCHAR(10),
	            總車輛 INTEGER,
	            可借 INTEGER,
	            可還 INTEGER,
	            活動 BOOLEAN,
	            PRIMARY KEY(日期,編號),
                FOREIGN KEY (編號) REFERENCES 站點資訊(站點編號)
                ON DELETE CASCADE
                ON UPDATE CASCADE
            );
        '''
        cursor.execute(sql)  #執行SQL指令

print('資料表建立完成')

資料表建立完成

In [8]:
#插入一筆資料
with psycopg2.connect(os.environ['POSTGRE_PASSWORD2']) as conn:
    with conn.cursor() as cursor:
        sql = '''
            INSERT INTO 站點資訊
            VALUES (%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,('500101001','YouBike2.0_捷運科技大樓站','大安區','復興南路二段235號前',25.02605,121.5436))

        sql ='''
            INSERT INTO youbike
            VALUES (%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;      
        '''
        cursor.execute(sql,('2024-02-16 10:48:19','500101001',28,1,27,True))
print('資料表插入一筆完成')

資料表插入一筆完成